* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 20px;
}

body {
	font-family: 'Avenir Next' 'Avenir' sans-serif;
}

.left {
	width: 100%;
	height: 100vh;
}

.right {
	margin: 3rem;
}

@media (min-width: 40rem) {
	.left {
		position: fixed;
		width: 50%;
		height: 100vh;
	}

	.right {
		width: 40%;
		margin-top: 15vh;
		margin-left: 50%;
		margin-right: 10%;
	}
}

.scroll-button {
	position: relative;
	top: -3rem;
	width: 100%;
	height: 3rem;
	text-align: center;
}

.scroll-button img {
	height: 1rem;
	width: 1rem;
}

.center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.phone {
	pointer-events: none;
	max-width: 70%;
	max-height: 70vh;
}

.demo {
	max-width: 64%;
	max-height: 54.5vh;
}

.title {
	max-width: 100%;
	max-height: 3rem;
}

.faq {
	margin-top: 10rem;
}

.copyright {
	color: #b2b2b2;
	text-align: center;
	margin-top: 5rem;
}

h2 {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 1rem;
	margin-top: 3rem;
}

p {
	margin-bottom: 1rem;
}

li {
	margin-bottom: 1rem;
	margin-left: 1rem;
}

button {
	font-size: 1rem;
	font-weight: 600;
}

input {
	width: 100%;
}

a {
	color: #23A0E7;
	text-decoration: none;
}

#email-invalid {
	margin: 1rem 0;
	color: #DB5250;
}
