* {
	margin: 0;
	padding: 0;
}

html {
	font-size: 18px;
}

body {
	font-family: sans-serif;
	font-family: 'Avenir';
	font-family: 'Avenir Next';
}

.left {
	width: 100%;
	height: 80vh;
}

.right {
	margin: 0 1rem;
	padding-bottom: 1rem;
}

@media (min-width: 30rem) {
	body {
		font-size: 20px;
	}

	.right {
		margin: 0 3rem;
	}
}

@media (min-width: 40rem) {
	.left {
		position: fixed;
		width: 50%;
		height: 100vh;
	}

	.right {
		width: 40%;
		margin-left: 50%;
		margin-right: 10%;
		padding: 5rem 0;
	}
}

.scroll-button {
	position: relative;
	top: -3rem;
	width: 100%;
	height: 3rem;
	text-align: center;
}

.scroll-button img {
	height: 1rem;
	width: 1rem;
}

.demo video {
	position: absolute;
	width: 64%;
	max-height: 43.6vh;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.demo img {
	position: absolute;
	pointer-events: none;
	width: 70%;
	max-height: 56vh;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@media (min-width: 40rem) {
	.demo video {
		max-height: 54.5vh;
		top: 50%;
	}

	.demo img {
		max-height: 70vh;
		top: 50%;
	}
}

.title {
	max-width: 100%;
	max-height: 3rem;
}

.faq {
	margin-top: 5rem;
}

.copyright {
	color: #b2b2b2;
	text-align: center;
	margin-top: 5rem;
}

h2 {
	font-size: 1rem;
	font-weight: 600;
	margin-bottom: 1rem;
	margin-top: 3rem;
}

p {
	margin-bottom: 1rem;
}

li {
	margin-bottom: 1rem;
	margin-left: 1.5rem;
}

button {
	font-size: 1rem;
	font-weight: 600;
}

input {
	width: 100%;
}

a {
	color: #23A0E7;
	text-decoration: none;
}

#email-invalid {
	margin: 1rem 0;
	color: #DB5250;
}
